<!DOCTYPE html>
<html>
  <head>
    <title>PhotogramFinal</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
  <% if session.fetch(:user_id).present? %>
  <nav>
    <ul>
     <li>
        <a href="/users">All users</a>
      </li>
      <li>
        <a href="/photos">All public photos</a>
      </li>
      <li>
        <a href="/user_sign_in">Edit profile</a>
      </li>
      <li>
        <a href="/user_sign_out">Sign Out </a>
      </li>
    </ul>
  </nav>
<% else %>
<nav>
    <ul>
     <li>
        <a href="/users">All users</a>
      </li>
      <li>
        <a href="/photos">All public photos</a>
      </li>
      <li>
        <a href="/user_sign_in">Sign in</a>
      </li>
      <li>
        <a href="/user_sign_up">Sign up</a>
      </li>
    </ul>
  </nav>
  <% end %>


<% if notice.present? %>
<div style="border: thin green solid">
<%= notice %>
</div>
<% end %>

<%if alert.present? %>
<div style="border: thin red solid">
<%= alert %>
</div>
<%end%>

    <%= yield %>
</body>
</html>
